*{

    margin: 0;
    padding: 0;
}

.fundo{

    background-color:#708090;
    height: 100vh;
    color: white;
    font-family: monospace;
    text-align: center;
}

.calculadora{

    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 30px;
    text-align: center;

}

.botao{

    height: 50px;
    width: 50px;
    font-size: 25px;
    font-family: monospace;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 3px;

}

.botao:hover{

    background-color: black;
}

#resultado{

    width: 207px;
    height: 30px;
    margin: 5px;
    background-color: white;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}