*{
    padding: 0px;
    margin: 0px;
}


body{

    background-color:#708090 ;
}

h1{
    text-align: center;
    font-family: monospace;
}




#Calculadora{

    margin: 50px auto;
    width: 500px;
    background-color: #00bfff;
    padding: 20px;
    border-radius:8px ;
    box-shadow: 3px 3px 8px black;
}

button{
    padding: 10px;
}

.display{

    margin-bottom: 10px;
}

.display input{

    width: 480px;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 3px;
    
}


.botoes button{
    
    padding: 15px;
    font-size: 30pt;
    border: none;
    border-radius: 3px;
    background-color: hsl(195, 100%, 44%);
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 97px;
    height: 90px;
    font-family: monospace;
    margin: 1px;
}

.botoes button:hover{

    background-color: #026383;

}

.botoes button:active{
    background-color: #708090;
}