

body{

    background: rgb(20, 123, 170);
    font: normal 15pt arial;


}

header{

    color: white;
    text-align: center;


}


section{

    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 500px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.541);


}


footer{
        text-align: center;
        color: white;
        padding: 8px;
        font-style: italic;

}