body {

    background-color: rgb(73, 73, 231);
    font: normal 20px Arial ;


}

header{

    color: white;
    text-align: center;


}

section{

    background-color: white;
    width: 500px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    




}

footer{

    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    
}



#foto{
    
    
    border-radius: 30px;
    width: 300px;
}

#msg{

    text-align: center;
}